<head th:fragment="head">
    <title>&lt; Hex.log &gt;</title>
    
    <meta charset="UTF-8">
    <meta name="description" th:content="#{description}">
    <meta name="keywords" th:content="#{keywords}">
    <meta name="author" content="Bartosz Błaszczak">
    <meta name="viewport" content="initial-scale=0.7">
    
    <link rel="stylesheet" type="text/css" href="/web/static/style.css">
    <link rel="stylesheet" type="text/css" href="/web/static/fonts.css">
    <script src="/web/static/hexlog.js" type="text/javascript" content="text/javascript"></script>
</head>