<!DOCTYPE html>
<html th:lang="${#locale}">
<head th:replace="head.html :: head"></head>

<body onresize="resize_posts()">
<header th:replace="header.html :: header"></header>
<div class="main-body">
    <br>
    <!--/*@thymesVar id="posts" type="java.util.List<domain.Post>"*/-->
    <div class="post" th:each="post, stat: ${posts}">
        <!--/*@thymesVar id="post" type="domain.Post"*/-->
        <button th:id="${post.id.value}" class="post-header openable" onclick="toggle_collapse(this)" th:onauxclick="|window.open('${#locale}/post/${post.id.value}')|">
            <p>
                <span th:text="${#temporals.format(post.createDate, 'dd.MM.yyyy')}" class="post-date"></span>
                <span th:text="${post.title}" class="post-title"></span>
            </p>
            <p th:text="${post.shortcut}"></p>
        </button>
        <div class="post-panel"></div>
    </div>
    <br>
</div>
</body>
</html>
